<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Home</title>

</head>
<body>
    <div>
        <h3>My First day at the beach</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci aliquid amet architecto asperiores cumque
            delectus dignissimos ea excepturi expedita,
            labore laboriosam magni maxime modi nemo perferendis sunt
            tempore temporibus, velit?
        </p>
    </div>
    <div>
        <h3>Intersting Facts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Amet deleniti deserunt ea eligendi ex, maxime modi molestiae nam,
            provident, quam quisquam quos reiciendis
            reprehenderit sed soluta tempora tenetur ullam vel.
        </p>
    </div>

</body>

</html>