<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Home</title>

</head>
<body>
    <footer>
        <div class="container">
            <div class="row">
                <img src="/img/facebook.png" alt="facebook-image" >
                <img src="/img/twitter.png" alt="twitter-image" >
                <img src="/img/instagram.png" alt="instagram-image" >
                <img src="/img/whatsapp.png" alt="whatsapp-image" >
                <img src="/img/linkedin.png" alt="linkedin-image" >
            </div>
            <ul class="footer-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#">Bio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="copyright">
                <p>Copyright &copy2025 by <span>Precious</span> </p>
            </div>
        </div>
    </footer>
</body>

</html>
