<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Home</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body class="form-body">
    <%- include('partials/navbar')%>
    <h1 class="form-text">Create your story</h1>
    <div class="form-container">
        <form action="/submit" method="POST">
            <label>Title of your post:</label>
            <input type="text" name="title" placeholder="Title" id="title" required>
            <label>Content: </label>
            <textarea name="content" id="content" required></textarea>
            <button type="submit" class="submit">Submit</button>

        </form>
<!--        <div class="your-story">-->
<!--            <h4>Create your story</h4>-->
<!--        </div>-->
    </div>
    <%- include('partials/footer')%>



</body>

</html>
